
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $accentColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $accentColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $accentColor $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: normal 2.625rem/1.52 'FitaPoluustavC'; }

p { font: normal 1.125rem/1.2 'Avenir Next Cyr'; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 30px 10px; background: transparent; display: grid; grid-gap: 30px 10px; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 30px; grid-gap: 20px; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) {}
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 60px; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; padding: 90px; }
}

@media screen and (min-width: $tabletWidth) {
  h1 { font-size: 4.5rem; line-height: 1.4; }

  a:hover { color: $linkColor_hover; }
}


/* Form styles */
.button {
  a { background: $buttonGradient; color: $white; font: normal .6875rem/1 'Avenir Next Cyr'; letter-spacing: 3px; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }
  }

  &_main a { width: 100%; height: 3.125rem; padding: 0 1.25rem; border: 2px solid $linkColor_hover; border-radius: 1.5625rem;
    img { width: 30px; height: 30px; margin-right: .5rem; flex: none; }
  }

  &_play a { width: 87px; height: 87px; border-radius: 50%;
    img { width: 87px; height: 87px; }
  }

  @media screen and (min-width: $tabletWidth) {
    a { font-size: .8125rem;
      &:hover { background: $buttonGradient_hover; color: $white; }
    }

    &_main a { padding: 0 2.5rem 0 .625rem;
      &:hover { border-color: $linkColor_hover; }

      img { margin-right: 2rem; }
    }
  }
}


/* Layout styles */
main { @include z('main');
  .container {
    .content { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .content { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .content { grid-column: 1 / 13; }
    }
  }
}

footer { @include z('footer');
  .container { padding-top: 30px; padding-bottom: 74px;
    .footer { grid-column: 1 / 7; display: flex; flex-direction: column; align-items: center;
      &-logo { display: flex; align-items: center;
        img { width: 46px; height: 27px; flex: none; }
      }
      &-copyright { margin-top: 2.125rem;
        p { color: $accentColor; font-size: .5625rem; line-height: 1; letter-spacing: 1px; text-transform: uppercase; }
      }
      &-info { margin-top: 1.25rem;
        p { color: $accentColor; font-size: .5625rem; line-height: 1; letter-spacing: 1px; text-transform: uppercase; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 24px; padding-bottom: 54px;
      .footer { grid-column: 1 / 9; flex-direction: row; justify-content: space-between;
        &-logo { order: 2; }
        &-copyright { margin: 0 2rem 0 0; order: 1; }
        &-info { margin: 0 0 0 2rem; order: 3; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .footer { grid-column: 1 / 13; }
    }
  }
}


/* Page styles */
@import 'page/fairy_tales';
