
/* FitaPoluustavC */
@font-face {
  font-family: 'FitaPoluustavC';
  src: local('FitaPoluustavC'),
    url('../font/FitaPoluustavC/FitaPoluustavC.woff2') format('woff2'),
    url('../font/FitaPoluustavC/FitaPoluustavC.woff') format('woff'),
    url('../font/FitaPoluustavC/FitaPoluustavC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Avenir Next Cyr */
@font-face {
  font-family: 'Avenir Next Cyr';
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
    url('../font/AvenirNextCyr/AvenirNextCyr-Regular.woff2') format('woff2'),
    url('../font/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'),
    url('../font/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
