
$white                     : #ffffff;
$black                     : #000000;
$darkGrey                  : #181c34;
$lightGrey                 : #f5f5f5;

/* Font options */
$mainColor                 : #ffffff;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Avenir Next Cyr', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(25, 27, 29, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1260px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #000000;
$linkColor                 : #fab507;
$linkColor_hover           : #da9715;
$accentColor               : #fab507;

$imageBackground           : #f5f2ee;
$imageBackground_main      : #d1e9fc;
$backgroundTime            : rgba(255, 255, 255, .95);

$mainGradient              : linear-gradient(180deg, #ffeba0 -22%, #f3d996 2.5%, #fbd684 2.5%, #d2b464 17.5%, #f8c956 40%, #daac3e 50%);

$buttonGradient            : linear-gradient(180deg, #edbd52 -8.25%, #f3d996 13.85%, #fdc43b 32.2%, #cf9300 50%);
$buttonGradient_hover      : linear-gradient(180deg, #edbd52 -8.25%, #f3d996 13.85%, #fdc43b 32.2%, #cf9300 50%);
