footer
  .container
    .footer
      .footer-logo
        img(src='/image/logo-footer.svg' alt='АЛРОСА')
      .footer-copyright
        p &copy; 1992 — 2021. Alrosa
      .footer-info
        p All rights reserved
