block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Ilya Korotkov ilushkeens@gmail.com')
    meta(name='theme-color' content='#000000')

    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://test.ilushkeens.ru/')
    meta(property='og:title' content=title)
    meta(property='og:description' content='')
    meta(property='og:image' content='https://test.ilushkeens.ru/image/cover.png')

    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://test.ilushkeens.ru/')
    meta(property='twitter:title' content=title)
    meta(property='twitter:description' content='')
    meta(property='twitter:image' content='https://test.ilushkeens.ru/image/cover.png')

    // icon & css
    link(href='/favicon.svg' rel='icon')
    link(href='/mask-icon.svg' rel='mask-icon' color='#fab507')
    link(href='/apple-touch-icon.png' rel='apple-touch-icon')
    link(href='/manifest.json' rel='manifest')
  body
    #app
      main
        block content
      include footer

    // js
