
/* Fairy tales page */
#fairy-tales { background: transparent url('/image/bg/fairy-tales.m.svg') center top no-repeat; background-size: contain;
  .container { padding-top: 180px; padding-bottom: 30px;
    .fairy-tales { width: 100%; display: flex; flex-direction: column; align-items: center;
      &-logo { margin-bottom: 3.75rem; display: flex; align-items: center;
        a { flex: none;
          img { width: 114px; height: 46px; }
        }
      }

      &__title { margin-bottom: 1.75rem;
        h1 { background: $mainGradient; background-clip: text; text-align: center;

          -webkit-text-fill-color: transparent;
        }
      }
      &__lead { margin-bottom: 3rem;
        p { font-size: 1.25rem; line-height: 1.25; text-align: center; }
      }
      &__play { margin-bottom: 3.75rem; }

      &-list { margin-bottom: 4.25rem; display: flex; flex-wrap: wrap;
        &__item { position: relative; width: 100%; height: 44.5rem; padding: 3.125rem 1.875rem; background: $imageBackground; overflow: hidden; @include z('fairy-tales');
          &:not(:last-child) { margin-bottom: 1.25rem; }

          &-1 { background: $imageBackground_main; }
          &-2,
          &-5,
          &-7,
          &-10 { background: $white; }
          &-5 .fairy-tales-list__group { margin-top: 12.8125rem; }
          &-6 .fairy-tales-list__title { font-size: 3rem; }
          &-7 .fairy-tales-list__title { font-size: 3.25rem; }
        }
        &__image { position: absolute; left: 0; top: 0; width: 100%; height: 100%; flex: none; z-index: -1;
          img { width: 100%; height: 100%; }
        }
        &__title { margin-bottom: 1.25rem; color: $black; font-size: 3.375rem; line-height: 1.33; font-family: 'FitaPoluustavC'; }
        &__desc { margin-bottom: 1.25rem;
          p { color: $black; font-family: 'NewBaskervilleC'; }
        }
        &__time { padding: .4375rem .625rem; background: $backgroundTime; color: $accentColor; font-size: 1rem; line-height: 1.25rem; letter-spacing: 1px; display: inline-flex; align-items: center; }
        &__icon { margin-right: .9375rem;
          img { width: 15px; height: 22px; }
        }
        &__track { margin-top: 1.875rem; }
        &__duration { position: absolute; left: 0; bottom: 0; width: 100%; height: 10px;
          span { width: 0; height: 10px; background: $accentColor; display: block; }
        }
      }

      &__image img { width: 280px; height: 98px; }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: 162px; padding-bottom: 24px;
      .fairy-tales {
        &-logo { margin-bottom: 3.5rem; }

        &__title { margin-bottom: 2.75rem; }
        &__lead { width: 28.5rem; }
        &__play { margin-bottom: 8.25rem; }

        &-list { margin-bottom: 3.5rem;
          &__item { height: 25.75rem; padding: 3.125rem; display: flex; flex-direction: column;
            &:not(:last-child) { margin-bottom: 0; }
            &:not(:nth-last-child(-n+2)) { margin-bottom: 3.5rem; }

            &-half { width: calc((100% - 3.625rem) / 2); height: 36.25rem; }
            &-third { width: calc((100% - 3.75rem) / 3); height: 32.75rem; padding: 3.125rem 1.25rem 1.25rem;
              .fairy-tales-list__title { font-size: 2.25rem; }
              .fairy-tales-list__track { margin-top: auto; }
            }

            &-1 {
              .fairy-tales-list__group { width: 32rem; margin-left: 8.75rem; }
              .fairy-tales-list__track { position: absolute; left: 3.125rem; bottom: 3.125rem; margin: 0; }
            }
            &-2 {
              .fairy-tales-list__group { width: 24rem; margin-left: 23.875rem; }
              .fairy-tales-list__track { position: absolute; left: 3.125rem; bottom: 3.125rem; margin: 0; }
            }
            &-3,
            &-9 { margin-right: 3.625rem; }
            &-5 .fairy-tales-list__group { width: 32rem; margin: 0; }
            &-6,
            &-7 { margin-right: 1.875rem; }
          }
          &__image img { width: auto; object-fit: cover; }
          &__time { padding: 0; background: transparent; }
          &__track { margin-top: 2.25rem; }
        }

        &__image img { width: 680px; height: 224px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .fairy-tales {
        &-logo { margin-bottom: 4.5rem; }

        &-list { margin-bottom: 4.5rem;
          &__item {
            &:not(:nth-last-child(-n+2)) { margin-bottom: 4.5rem; }

            &-half { width: calc((100% - 20rem) / 2); }
            &-third { width: calc((100% - 22.625rem) / 3); padding: 3.125rem 1.875rem 1.875rem; }

            &-1 { padding-left: 6.6875rem;
              .fairy-tales-list__group { margin-left: 12.75rem; }
            }
            &-2 .fairy-tales-list__group { width: 20rem; margin-left: 36.875rem; }
            &-3,
            &-9 { margin: 0 6.625rem 0 6.6875rem; }
            &-4,
            &-8,
            &-10 { margin-right: 6.6875rem; }
            &-6 { margin: 0 4.625rem 0 6.6875rem; }
            &-7 { margin-right: 4.625rem; }
          }
          &__image img { width: 100%; object-fit: none; }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { background-image: url('/image/bg/fairy-tales.svg'); }
}
